prefix=/home/lis/.node_modules_global
init.author.name=Stéphane Lavergne
init.author.email=lis@imars.com
init.author.url=https://github.com/vphantom
//registry.npmjs.org/:_authToken=XXXXXXXXXXXX
production=false
